


<h2>Available drones</h2>
<p>Drones of the day</p>



<table class="table">
  <thead>
    <tr>
      <th scope="col">DroneId</th>
      <th scope="col">Drone Name</th>
      <th scope="col">Number of Propellers</th>
      <th scope="col">MaxSpeed</th>
    </tr>
  </thead>
  <tbody>
    {{#each drones}}
    <tr>
      <th scope="row">{{_id}} </th>
      <td>{{this.name}}</td>
      <td>{{this.propellers}}</td>
      <td>{{this.maxSpeed}}</td>
      <td> 
<form action="/drones/{{this._id}}/edit" method="GET">
  <button type="submit" class="btn btn-warning customB">Edit</button>
</form>
<form action="/drones/{{this._id}}/delete" method="POST">
   <button class="btn btn-danger customB1">Delete</button>
</form>

      </td>
    </tr>
{{/each}}

    
  </tbody>
</table>